<header>
    <div class="barratitular">
        <div class="logopage"><a routerLink=""><img src="/assets/img/Teste02.svg" width="280px" alt="GameMania"></a></div>
        <div class="dflex">
            <form action="" method="post" class="buscador dflex">
                <input type="text" id="barradebusca" placeholder="Buscar" required>
                <button type="submit"><img src="/assets/img/Search More.svg" width="30px" alt="Buscar"></button>
            </form>
            <button type="button" id="carrinho" class="iconebar"><img src="/assets/img/Shopping Cart.svg" alt="Carrinho" width="40px"></button>
            <div id="usuario" class="iconebar"><a routerLink="loginusuario"><img src="/assets/img/User.svg" alt="Usuario" width="40px"></a></div>
            <button type="button" id="menures" class="iconebar"><img src="/assets/img/Menu.svg" alt="Menu" width="40px"></button>
        </div>
    </div>
    <div class="gradientez menu-contorno">
        <nav class="menu" id="navega">
            <div class="opcmenu"><a routerLink="ofertas">ofertas</a></div>
            <div class="opcmenu"><a routerLink="">review's</a></div>
            <div class="opcmenu"><a routerLink="">linha gamer</a></div>
            <div class="opcmenu"><a routerLink="">pc custom</a></div>
            <div class="opcmenu"><a routerLink="">atendimento</a></div>
            <div class="opcmenu menudropd">
                <a routerLink="#">departamentos</a>
                <ul>
                    <li><a routerLink="">pc gamer</a></li>
                    <li><a routerLink="">smartphones</a></li>
                    <li><a routerLink="">smartphones</a></li>
                    <li><a routerLink="">consoles</a></li>
                    <li><a routerLink="">notebooks</a></li>
                    <li><a routerLink="">hardware</a></li>
                    <li><a routerLink="">perifericos</a></li>
                    <li><a routerLink="">acessórios</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
