<section class="conteiner-conteudos">
    <div class="login-conteiner">
        <div class="login-borda gradientez">
            <div class="login-caixa">
                <div class="divisor-login">
                    <div class="login-pri">
                        <div><img src="\assets\img\UserLogin.svg" alt="Usuario" width="100px"></div>
                        <form class="login-form" #loginform="ngForm" (ngSubmit)="euTestei()">
                          <div class="label-email">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" placeholder="fulano@email.com"[(ngModel)]="loginModel.email">
                          </div>
                          <div class="label-pass">
                            <label for="senha">Senha</label>
                            <input type="password" name="senha" id="senha" placeholder="Sua Senha"[(ngModel)]="loginModel.password">
                          </div>
                          <input type="submit" value="entrar" id="btn-enviar" class="botao-login">
                        </form>
                        <div class="recuperarsenha"><a routerLink="">Esqueceu a senha?</a></div>
                    </div>
                    <div class="login-sec">
                        <h1>Ola!</h1>
                        <p>Para as melhores ofertas.</p>
                        <a routerLink="">Cadastre-se...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
