<footer>
    <section class="gradientez rodape-p-fundo">
        <div class="rodape-s-fundo">
            <div class="conteiner-institucional">
                <a routerLink="">quem somos</a>
                <a routerLink="">nossas lojas</a>
                <a routerLink="">politica de privacidade</a>
                <a routerLink="">garantia</a>
                <a routerLink="">trabalhe conosco</a>
            </div>
            <div>
                <div class="redes-sociais">
                    <div class="textosocial">
                        <h3>@gamemania</h3>
                        <p>Siga-nos nas redes sociais</p>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/"><img src="/assets/img/Instagram.svg" alt="Instagram"></a>
                        <a href="https://www.facebook.com/"><img src="/assets/img/Facebook.svg" alt="Facebook"></a>
                        <a href="https://www.youtube.com/"><img src="/assets/img/YouTube.svg" alt="YouTube"></a>
                        <a href="https://twitter.com/"><img src="/assets/img/Twitter Circled.svg" alt="Twitter"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="direitos">
        <div class="logopage"><a routerLink=""><img src="/assets/img/Teste02.svg" width="180px" alt="GameMania"></a></div>
        <div class="direitos-texto"><p>© 2021 GameMania. Todos os direitos reservados.Game Mania LTDA. CNPJ: 00.000.000/0000-00</p></div>
    </section>
</footer>