<section >
    <div class="titulos"><p>vai jogar o que?</p></div> 
    <div id="games-lista">
        <div class="gamefundo gradientez">
            <div class="game">
                <div class="fotogame"><a href=""><img src="/assets/img/Games/fortnite.png" alt="Fortnite"></a></div>
                <div class="textogame"><p>fortinite</p></div>
            </div>
        </div>
        <div class="gamefundo gradientez">
            <div class="game">
                <div class="fotogame"><a href=""><img src="/assets/img/Games/csgo.png" alt="CSGO"></a></div>
                <div class="textogame"><p>csgo</p></div>
            </div>
        </div>
        <div class="gamefundo gradientez">
            <div class="game">
                <div class="fotogame"><a href=""><img src="/assets/img/Games/gtav.png" alt="GTAV"></a></div>
                <div class="textogame"><p>gta v</p></div>
            </div>
        </div>
        <div class="gamefundo gradientez">
            <div class="game">
                <div class="fotogame"><a href=""><img src="/assets/img/Games/ciberpunk.png" alt="Cyberpunk"></a></div>
                <div class="textogame"><p>Cyberpunk</p></div>
            </div>
        </div>
        <div class="gamefundo gradientez">
            <div class="game">
                <div class="fotogame"><a href=""><img src="/assets/img/Games/lol.png" alt="LOL"></a></div>
                <div class="textogame"><p>lol</p></div>
            </div>
        </div>
        <div class="gamefundo gradientez">
            <div class="game">
                <div class="fotogame"><a href=""><img src="/assets/img/Games/valorant.png" alt="Valorant"></a></div>
                <div class="textogame"><p>Valorant</p></div>
            </div>
        </div>
        <div class="gamefundo gradientez">
            <div class="game">
                <div class="fotogame"><a href=""><img src="/assets/img/Games/warzone.png" alt="Warzone"></a></div>
                <div class="textogame"><p>Warzone</p></div>
            </div>
        </div>
        <div class="gamefundo gradientez">
            <div class="game">
                <div class="fotogame"><a href=""><img src="/assets/img/Games/Minecraft.png" alt="Minecraft"></a></div>
                <div class="textogame"><p>Minecraft</p></div>
            </div>
        </div>
    </div>
</section>