<div class="produto">
    <div class="fotoproduto"><a href=""><img src="/assets/img/Produtos/P01.png" alt="Processador I7"></a></div>
    <div class="nomeproduto"><a href="">processador intel core i7 11700k</a></div>
    <div class="infoproduto"><p>8-core, 16-threads, 3.6ghz (5.0ghz turbo), cache 16mb, lga1200.</p></div>
    <div class="precoant"><p>r$ 4.199,00</p></div>
    <div class="precoatual"><a href="">r$ 2.499,00</a></div>
    <div class="formapag"><p>a vista</p></div>
    <div><button class="botaocomprar" type="button">Comprar</button></div>
</div>