/*DEPARTAMENTOS*/
.botaodp{
    width: 190px;
    height: 80px;
    border-radius: 5px;
    margin: 10px;
}
.fundobt{
    background: #242424;
    border-radius: 5px;
    width: 190px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundobt a{
    text-decoration: none;
    color: white;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
.conteiner-departamentos{
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
}
.cards-departamentos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}