<section class="conteiner-departamentos">
    <div class="titulos"><p>departamentos</p></div>
    <div class="cards-departamentos">
        <div class="botaodp gradientez"><div class="fundobt"><img src="/assets/img/Workstation.svg" alt="PCs GAMER"><a routerLink="">pc gamer</a></div></div>
        <div class="botaodp gradientez"><div class="fundobt"><img src="/assets/img/iPhone.svg" alt="PCs GAMER"><a routerLink="">smartphones</a></div></div>
        <div class="botaodp gradientez"><div class="fundobt"><img src="/assets/img/Game Controller.svg" alt="PCs GAMER"><a routerLink="">consoles</a></div></div>
        <div class="botaodp gradientez"><div class="fundobt"><img src="/assets/img/MacBook.svg" alt="PCs GAMER"><a routerLink="">notebooks</a></div></div>
        <div class="botaodp gradientez"><div class="fundobt"><img src="/assets/img/Electronics.svg" alt="PCs GAMER"><a routerLink="">hardware</a></div></div>
        <div class="botaodp gradientez"><div class="fundobt"><img src="/assets/img/iMac.svg" alt="PCs GAMER"><a routerLink="">monitores</a></div></div>
        <div class="botaodp gradientez"><div class="fundobt"><img src="/assets/img/Mouse.svg" alt="PCs GAMER"><a routerLink="">mouses</a></div></div>
        <div class="botaodp gradientez"><div class="fundobt"><img src="/assets/img/Keyboard.svg" alt="PCs GAMER"><a routerLink="">teclados</a></div></div>
        <div class="botaodp gradientez"><div class="fundobt"><img src="/assets/img/Headset.svg" alt="PCs GAMER"><a routerLink="">headsets</a></div></div>
        <div class="botaodp gradientez"><div class="fundobt"><img src="/assets/img/Oculus Rift.svg" alt="PCs GAMER"><a routerLink="">acessórios</a></div></div>  
    </div>
</section>